/*******************
Head
*******************/
div {
  display:block;
}

body {
  font-size: 14px;
  font-family: "Helvetica Nueue",Arial,Verdana,sans-serif;
  background-color: #E5E9ED;
}

header {
  background-image:url("peak.jpg");
  background-position: right top;
  background-attachment: fixed;
  background-size: cover;
}
.volunteer {
  margin: auto;
  padding: 0 3% 5% 0;
  position: relative;
  left: 30%;
}
.volunteer li {
  list-style:none;
  background-color: #1F03FE;
  display:inline-flex;
  width: 30%;
  margin: auto 5%;
  padding: 2% 2% 0 2%;
  text-align:center;
}
.volunteer img {
  max-width: 300px;
  text-align: center;
  display: flex;
  align-items: center
}
  
#headlinks {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}
#headlinks li {
  
  display:inline-flex;
  padding:0 2% 0 2%;
  font-size: 1.1em;
  font-family:fantasy;
  color: #FFED87;
}
 a {
  text-decoration:none !important;
  font-weight:800px;
  font-family: "Impact, Charcoal, sans-serif";
  text-align:center;
}

header h1 {
  color: #FFED87;
   -webkit-text-stroke: 1px black;
  font-family: 'Candal', sans-serif;
}
header h2 {
  color: #FCFEE9;
  font-weight:bolder;
  
}
#mission h2 {
  font-size: 1.3em;
  margin: 0;
  font-family:sans-serif;
  -webkit-text-stroke: 1px black;
  color: #FFED87;
}
#mission p {
  color: #1F00FF;
  text-align:center;
  font-weight:bolder;
}
#mission {
  display:block;
}
/*******************
Hometiles
*******************/
#wrapper {
  max-width: 900px;
  margin: 0 auto;
  padding:0 5%;
}


#hometiles {
  display: flex;
  margin: auto auto 0 auto;
  padding: 1% 0px 2% 0px;
  list-style: none;
}

#hometiles li {
  display: inline-block;
  height: 100%;
  width: 25.332%;
  margin: auto;
  background-color: #1F03FE;
}
.backgroundone {
   background: linear-gradient(45deg,#474C61, #A6CAEE 35%, #D9BE97, #FDFADE 45%);
  overflow:hidden;
}
div {
  vertical-align: top;
}
  
#hometiles li img {
  border: black;
  max-height: 207px;
}
/*******************
Footer
*******************/
#foot_main {
  padding-top: 2%;
  background-image:url("big-sur.jpg");
  background-size: cover;
}


/* navbar/login */
.loginMenu {
  width: 250px;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a,
.navbar-default .navbar-nav .open .dropdown-menu {
    background-color: #F2F2F2;
    color:#000000;
  }

 a.list-group-item.active:hover {
  background-color: #000000;
}

#navlogin {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}

